body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    width: auth;
    max-width: 900px;
    padding: 0 15px;

}

.container .footer-text{
    margin: 20px 0;
}

.badge {
    background-color: #e4aa48;
}

.imageContent {
    width: 75px;
    height: 150x;;
}

button.link {
    background: none;
    border: none;
    margin: 0;
    padding: 3px;
    outline: none;
    outline-offset: 0;
    color: white;

}